

body{
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;

}




.titre {
    margin-right: 40px;
    margin-bottom: 40px;
    margin: 0%;    
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

h1{
   font-size: 3rem; 
   color: white;
   width: 80%;  
}




h2 { 
    font-size: 2.6rem;
    text-align: center;
}

a.lien {
    color: white;
}

a:hover {
   color: white !important;
}


.accueil{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color: #02a7b4;
    padding: 10%;
  
}
.image-formation {
    position: relative;
    width: 135%; 
  margin-left: -110px;
}
   

@media screen and (max-width: 1045px) {

      .accueil{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 800px;
        background-color: #02a7b4;
        text-align: center; 
               
  }
  .image-formation {
   width: 80%;

}
 
  h1{
    
    font-size: 2rem; 
    color: white;
    width: 100%;
  }
 

  }


  .image-formation {
    width: 100%; 
    margin: 30px 0 10px 0;
    padding-bottom: 40px;
  }

  /* section introduction */

.introduction {
    text-align: center;
    width: 80%;
    margin: 40px auto;

}

.table-introduction {
text-align: left;
width: 70%;
margin: 0 auto;
line-height: 1.5;
vertical-align: top;
}

.table-introduction td {
    vertical-align: top; 
    min-width: 250px;  
    

}

  ul {
    list-style-image: url("check22.png")
    
    }
    

  
  
@media screen and (max-width: 1045px) {

    .table-introduction {
        text-align: left;
        width: 90%;
        margin: 0 auto;
        line-height: 1.5;
        vertical-align: top;
    }
  

      .table-introduction td {
      display: block;
      width: 100%;
     
    }
}

.bouton-du-haut {
  background-color: #ff9d38;  
  padding: 15px;
  color: #fff;
  border: 0;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 50px;
}

/* section niveaux*/

.section-niveaux
{
    margin: 40px 0;
    text-align: left;   
}

.niveaux
{
    width: 90%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;  
    margin: 40px auto;
   }

.niveau
{
    border-radius: 10px;
    border: 2px solid rgb(215, 210, 210);
    width: 30%;
    margin: 5px;
    min-width: 300px;   
}
.titre-niveau
{   text-align: center; 
    height:50px; 
    background-color: #ff9d38; 
    padding-bottom: 10px; 
    margin-bottom:-5px; 
    border-radius: 10px 10px 0 0; 
    color: white;
}



   @media screen and (max-width: 1045px) {

    .niveau{ 
    border-radius: 10px;
    border: 2px solid rgb(215, 210, 210);
    width: 90%;
    margin: 5px;
  
    }

    .image-niveau
{
    width: 80%;
    background-color: #e9e9e9;
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 20px; 
}
}



.image-niveau
{
    width:100%;
    background-color: #e9e9e9;    
    margin-bottom: 20px; 
}


.objectif
{
   font-size: 1.2rem;
   margin-left: 10px;
}

.niveau p
{
    padding-left: 15px;
    padding-right: 10px;
}

.description-objectif
{
    margin-right: 20px;
}


/* section promesses */

.section-promesses
{
background-color: #02a7b4;
padding: 40px 0;
color: #fff;
}

.promesses
{
display: flex;
flex-wrap: wrap;
width: 70%;
justify-content: center;
margin: 0 auto;
text-align: center;
    
}

.promesses img {
width: 120px;
}

.promesses-details
{
width: 30%;
margin: 20px;
min-width: 300px;    
}


.promesses-details p{
text-align: justify;
}

@media screen and (max-width: 1045px) {

    .promesses    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
        
    }
 .promesses-details  {
width: 80%;   
}

.promesses-details p{
    text-align: center;
}
}

/* section témoignage */

.section-temoignage {
height: 500px;
background-color: #02a7b4;
padding-top:9%;
color: #fff;
}


.d-block{
margin: auto;
padding: 40px;
}

.carousel-item
{
height: 300px
}


.section-temoignage h2{
    margin-top: -50px;
}

@media screen and (max-width: 1045px) {

   
    .section-temoignage h2{
        margin-top: 20px;
    }
    .section-temoignage img {
        width: 90%;
        
    }
}

.div-videos
{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
}
.section-videos h2
{
    margin-top: 40px;
}
.videos
{
width: 350px;
height: 197px;

display: inline-block;
margin: 20px;
}

.section-appel-action
{

height: 450px;
background-color: #02a7b4;
padding:5% 0;
margin-top: 30px;
color: #fff;
text-align: center;
}

.section-appel-action h2
{
    margin-bottom: 30px;
}

.appel-action
{
  
    margin: auto;
}
